<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <script src="https://cdn.bootcss.com/jquery/1.11.3/jquery.js"></script>
    <style>
        #btime-feed-wrapper {
            width: 960px;
            margin: 100px auto 30px;
            border: 1px solid gray;
        }
    </style>
</head>
<body>
    <div id="btime-feed-wrapper">

    </div>

    <% for (var key in htmlWebpackPlugin.files.chunks ) { %>
    <script src="<%= htmlWebpackPlugin.files.chunks[key].entry %>"></script>
    <% } %>
</body>
</html>