<div class="feed-item js-feed" data-gid="{{gid}}" data-channel-position="{{getChannelPosition(s_log)}}" data-stick="{{data.is_stick}}">
    {{if data.identity}}
        <span class="sign-identity"></span>
    {{/if}}
    <a class="media media-feed" data-gid="{{gid}}" href="{{open_url}}" title="{{data.title}}" target="_blank">
        <h1 class="media-title title-fix">{{@ data.title}}</h1>
        <div class="figure-grid clearfix">
            {{each data.covers as item index }}
                {{ if index < 3 }}
                <div class="figure">
                    <img class="lazy" src="{{ cutter(data.covers[0], '225-130') }}" alt="{{@ data.title}}" width="100%" height="100%">
                </div>
                {{/if}}
            {{/each}}
            {{if data.covers.length <= 3 }}
                <p class="text">查看详情 ></p>
            {{else}}
            <div class="figure">
                <img class="lazy" src="{{ cutter(data.covers[3], '225-130') }}" alt="{{data.title}}" width="100%" height="100%">
            </div>
            {{/if}}
            {{if data.pics_count}}<span class="badge">{{data.pics_count}}图</span>{{/if}}
        </div>

        <p class="media-extra">
            {{if data.source}}
            <span class="col cite {{if data.author_uid && data.author_uid != 0}}has{{/if}}">
                {{if data.author_img}}
                    <span class="cite-logo">
                        <img src="{{data.author_img}}" width="16" height="16" alt="{{data.source}}">
                    </span>
                {{else}}
                    <span class="cite-logo no-logo">
                        <span class="name">{{data.source.substring(0, 1)}}</span>
                    </span>
                {{/if}}
                <span class="cite-name" data-uid="{{data.author_uid}}">{{data.source}}</span>
            </span>
            {{/if}}

            {{if data.pdate_str && data.is_stick != 1}}
            {{if data.source}}
            <span class="col dot"></span>
            {{/if}}
            <span class="col time">{{data.pdate_str}}</span>
            {{/if}}

            {{if data.tag}}
            <span class="col dot"></span>
            <span class="col tag" style="color:{{data.tag[0].str_color}};">{{data.tag[0].name}}</span>
            {{/if}}
        </p>
    </a>

    {{if has_dislike }}
    <span class="close"><i class="icon"></i>不感兴趣</span>
    {{/if}}
</div>